<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Daisy.SetupServer" Language="1033" Version="1.0.0.0" Manufacturer="Sufflavus" UpgradeCode="7eeeb120-4e84-45c3-a9ba-eafdc017547b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Daisy.SetupServer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="BinComponent"/>
		</Feature>
	</Product>

	<!--<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Daisy.SetupServer" />
			</Directory>
		</Directory>
	</Fragment>-->
    
    <Fragment>
        <!-- Will default to C:\ if that is the main disk-->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <!-- Will reference to C:\inetpub-->
            <Directory Id="INETPUB" Name="Inetpub">
                <!-- Will reference to c:\Inetpub\Daisy.Service-->
                <Directory Id="INSTALLFOLDER" Name="Daisy.Service">
                    <Directory Id="BIN" Name="bin"/>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

	<!--<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			~1~ TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. @1@
			~1~ <Component Id="ProductComponent"> @1@
				~1~ TODO: Insert files, registry keys, and other resources here. @1@
			~1~ </Component> @1@
		</ComponentGroup>
	</Fragment>-->
    
    <!--<Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ProductComponent" Guid="{6326B176-F745-45A9-9172-5F92AC599096}">
                <File Id="Web.config" Source="..\Daisy.Service\Web.config" />
            </Component>
        </ComponentGroup>
        <ComponentGroup Id="BinComponents" Directory="BIN">
            <Component Id="BinComponent" Guid="{016C09C5-ECC5-45FF-BE1B-2F058F4611FD}">
                <File Id="TinyMapper" Source="..\Daisy.Service\bin\TinyMapper.dll" />
                <File Id="NLog.dll" Source="..\Daisy.Service\bin\NLog.dll" />
                <File Id="Ninject.dll" Source="..\Daisy.Service\bin\Ninject.dll" />
                <File Id="NHibernate.dll" Source="..\Daisy.Service\bin\NHibernate.dll" />
                <File Id="Iesi.Collections.dll" Source="..\Daisy.Service\bin\Iesi.Collections.dll" />
                <File Id="FluentNHibernate.dll" Source="..\Daisy.Service\bin\FluentNHibernate.dll" />
                <File Id="Dapper.dll" Source="..\Daisy.Service\bin\Dapper.dll" />
                <File Id="Daisy.Service.dll" Source="..\Daisy.Service\bin\Daisy.Service.dll" />
                <File Id="Daisy.Dal.dll" Source="..\Daisy.Service\bin\Daisy.Dal.dll" />
                <File Id="Daisy.Contracts.dll" Source="..\Daisy.Service\bin\Daisy.Contracts.dll" />
                ~1~ And so on and on @1@
            </Component>
        </ComponentGroup>
    </Fragment>-->
</Wix>